Sphinx==8.2.3
ablog==0.11.12
pydata-sphinx-theme==0.16.1
myst-parser==4.0.1
sphinx_design==0.6.1
sphinx_copybutton==0.5.2  
sphinx-jinja==2.0.2  
jinja2==3.1.6  
requests==2.32.3 
black==25.1.0
pylint==3.3.7
pre-commit==4.2.0
sphinx-sitemap==2.6.0
sphinx-favicon==1.0.1
