html[data-theme="light"] {
  --pst-color-primary: #734f96;
  --pst-color-border: white;
}

html[data-theme="dark"] {
  --pst-color-primary: #734f96;
  --pst-color-border: #14181e;
}

html {
  --pst-color-primary: #734f96;
  --pst-color-secondary: #6c757d;
  --pst-color-success: #28a745;
  --pst-color-info: #17a2b8;
  --pst-color-warning: #f0b37e;
  --pst-color-danger: #dc3545;
  --pst-color-light: #f8f9fa;
  --pst-color-muted: #6c757d;
  --pst-color-dark: #ffffff;
  --pst-color-primary-highlight: #0069d9;
  --pst-color-secondary-highlight: #5c636a;
  --pst-color-success-highlight: #228e3b;
  --pst-color-info-highlight: #148a9c;
  --pst-color-warning-highlight: #cc986b;
  --pst-color-danger-highlight: #bb2d3b;
  --pst-color-light-highlight: #d3d4d5;
  --pst-color-muted-highlight: #5c636a;
  --pst-color-dark-highlight: #1c1f23;
  --pst-color-primary-text: #fff;
  --pst-color-secondary-text: #fff;
  --pst-color-success-text: #fff;
  --pst-color-info-text: #fff;
  --pst-color-warning-text: #212529;
  --pst-color-danger-text: #fff;
  --pst-color-light-text: #212529;
  --pst-color-muted-text: #fff;
  --pst-color-dark-text: #fff;
  --pst-color-shadow: rgba(0, 0, 0, 0.15);
  --pst-color-card-border: rgba(0, 0, 0, 0.125);
  --pst-color-card-border-hover: hsla(231, 99%, 66%, 1);
  --pst-color-card-background: transparent;
  --pst-color-card-text: inherit;
  --pst-color-card-header: transparent;
  --pst-color-card-footer: transparent;
  --pst-color-tabs-label-active: hsla(231, 99%, 66%, 1);
  --pst-color-tabs-label-hover: hsla(231, 99%, 66%, 1);
  --pst-color-tabs-label-inactive: hsl(0, 0%, 66%);
  --pst-color-tabs-underline-active: hsla(231, 99%, 66%, 1);
  --pst-color-tabs-underline-hover: rgba(178, 206, 245, 0.62);
  --pst-color-tabs-underline-inactive: transparent;
  --pst-color-tabs-overline: rgb(222, 222, 222);
  --pst-color-tabs-underline: rgb(222, 222, 222);
  --pst-fontsize-tabs-label: 1rem;
}

.index_joinus_mobile {
  visibility: hidden;
  display: none;
}

h1 {
  color: #734f96;
}
@media screen and (max-width: 720px) {
  .index_joinus {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .index_joinus_mobile {
    visibility: visible;
    display: inline;
  }
}

i.fa-twitter:before {
  color: #734f96;
}

i.fa-discourse:before {
  color: #734f96;
}

i.fa-github:before {
  color: #734f96;
}

i.fa-rss:before {
  color: #734f96;
}

i.fa-envelope-open-text:before {
  color: #734f96;
}
