# style configuration file for fprettify
# original source: https://github.com/PHOTOX/ABIN/blob/master/.fprettify.rc
# original author: Daniel Hollas
# original license: GPL v3
#
# minor edits to the original to fit better the pattern other booklets use

# Replace Fortran-style relational operators with C-style
# to make our code more readable for non-Fortran programmers
# for example '.lt.' to '<'
enable-replacements=False  # in the original: True
c-relations=False  # in the original: True

# White space settings
indent=2  # in the original 3
line-length=132
strict-indent=True
strip-comments=True
whitespace-relational=True
whitespace-logical=True
whitespace-plusminus=True
whitespace-multdiv=True
whitespace-comma=True
whitespace-intrinsics=True
whitespace-print=False
whitespace-type=False

# Control whitespace around '::' declarations
whitespace-decl=True
enable-decl=False  # in the original: True (then lines shrink)

# Don't indent pre-processor statements
disable-fypp=True

case=[1,1,1,2]
exclude=[random.F90,fftw3.F90,force_cp2k.F90, h2o_schwenke.f, h2o_cvrqd.f]
