name: Comment on the pull request on successfull build

on:
  issue_comment:
      types: [created]

jobs:
  upload:
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request && contains(github.event.comment.body,'#build_preview')
    steps:               
      # Comment on pull request 
      - name: Comment on pull request
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{github.event.issue.number}}
          body: "This PR is being built with Sphinx and can be previewed at: /pr/${{github.event.issue.number}}"
