# Github action to build fortran_packages.
#

name: fortran_packages 


on:
  workflow_dispatch:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 2 * * *" 
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout source
      uses: actions/checkout@v3
   
    - name: Setup Python
      uses: actions/setup-python@v4

    - name: Install python libraries
      run: pip3 install --user -r requirements.txt
      
    - name: fortran_package 
      run: python fortran_package.py  ${{ secrets.API_TOKEN }}
      
    - name: Upload data files
      uses: actions/upload-artifact@v3
      with:
          name: _data
          path: _data/
